
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
.env
###< symfony/framework-bundle ###
